# Core IA/NLP
transformers
torch
textblob
langdetect

# Web Scraping
requests
beautifulsoup4

# Visualizaciones (para lógica interna)
pandas
scikit-learn

# API Backend
fastapi
uvicorn
pydantic
# Utilities
wikipedia
python-dotenv
spacy
